.topsongs-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
}

.topsongs {
  width: 45%;
  float: left;
}

header {
  margin-bottom: 1em;
}

.content h1 {
  // text-align: center;
}

@media screen and (max-width: 480px) {
  .topsongs-overview {
    width: 90vw;
  }

  .topsongs {
    flex: 1;
    width: 90vw;
  }
}
