.recommendations-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
}

.recommendations {
  width: 50%;
  float: right;
}

header {
  margin-bottom: .5em;
}

.button {
  font-weight: bold;
}

.button.is-info {
  background-color: #2f2d2d;
  border-color: none !important;
}

.button.is-info:focus {
  background-color: #2f2d2d;
  border-color: none !important;
}

.button.is-info:hover {
  background-color: #84bd00;
  border-color: none !important;
}

@media screen and (max-width: 480px) {
  .recommendations-overview {
    width: 100%;
    padding-left: -15px;
    padding-right: -15px;
  }

  .recommendations {
    flex: 1;
    width: 100%;
  }
}
