.intro-container {
  margin-bottom: 2em;
}

.message-header {
  font-family: 'Bungee', cursive;
}

@media screen and (max-width: 480px) {
  .intro-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
