.topsong-item {
  flex-basis: 100%;
  margin: .5em;
  padding: 1em;
}

.favorite {
  float: right;
}

.song-text {
  font-size: 1.1em;
}
//
// @media screen and (max-width:480px) {
//   .topsong-item {
//     flex-basis: 90%;
//   }
// }
